services:
  - type: web
    name: whatsapp-bot-cispn
    env: node
    region: oregon
    plan: starter
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
    disk:
      name: whatsapp-session-data
      mountPath: /opt/render/project/src/tokens
      sizeGB: 1
